html {
    font-size: 16px;
    color: #DCBBBD;
}

.bg-wrapper {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-image: url(./images/computer-2982270_1280.jpg);
    background-repeat:no-repeat;
    background-position: 50%;
    background-size:cover;
    opacity: .02;
    z-index: -4;
}

nav {
    width: 100%;
    display: flex;
    align-items: center;
    //outline: 1px solid red;
    justify-content: flex-end;
}

 nav a:hover {
    text-decoration: underline;
    cursor: pointer;
 }

.text-logo {
    width: 200px;
    height: 70px;
    display: flex;
    align-items: center;
    margin-right: auto;
}

.text-logo a {
    font-size: 2.5rem;
    font-family: 'Reenie Beanie';
    font-weight: bold;
    color: #DCBBBD;
    margin-left: 15px;
    text-decoration: none;;
}

ul {
   // outline: 1px solid cyan;
    display: flex;
    font-size: 2rem;
    list-style-type: none;
    justify-content: flex-start;
    padding: 0 0 0 0 ;
}

.nav-bar li {
    margin: 0 1rem 0 1rem;
}

.nav-bar a, .nav-bar a:visited, .nav-bar a:active {
    text-decoration: none;
    color: #DCBBBD;
}




ul > * {
    //outline: 1px solid white;
}


body {
    background-color: #0A0A23;
       
}



main {
    display: grid;
    grid-auto-rows: auto;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
}

section { 
    //outline: 1px solid red;
    margin-top: 1rem 0;
    width: 80%;
}

.projects > h2 {
    //outline: 1px solid salmon;
    padding: 1rem 0;
}

.projects p {
    display: inline-block;
}

.projects p:hover {
    text-decoration: dashed;
}
.project-p {
        //outline: 1px solid white;
    margin-bottom: .5rem;
    border: 1px solid #DCBBBD;
 
    border-radius: .5rem;
    padding: .25rem .25rem;
    background-color: #0B1527;
}

.project-p:hover {
    //outline: 1px solid white;
margin-bottom: .5rem;
border: 1px solid #DCBBBD;
display: inline-block;
border-radius: .5rem;
padding: .25rem .25rem;
background-color: #6B1527;
cursor: pointer;
}



.hello h1 {
   // outline: 1px solid green;
}

.hello h1, .why h2, .projects h2{
    margin: 15px auto;
    text-align: center;
}



h1, h2, h3 {
    font-family: 'Roboto Flex';
}



p {
    font-family: Roboto, sans-serif;
}

h1 {
    font-size: 4.25rem;
}
h2 {
    font-size: 2rem;
}

.project {
    width: 100%;
    height: 500px;      
    transition: max-height .3s ease-out;
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
   // outline: 1px solid green;
}





.img-wrapper {
    height: 500px;
    width: 800px;
    overflow: hidden;
    border-radius: 2rem;
    //outline: 1px solid cyan;
    
   
}

.project img {
    overflow: hidden;
    width: 100%;
    height:100%;
    padding: 0 0 0 0;
    margin: .25rem .25rem;
   
    
    
  
    
}

.project-description {
 justify-self: start;
 margin-top: .25rem;
 height: 500px;
 width: 500px;
 border-radius: 2rem;
 color: white;
}

div.project-1 {
    max-height: 100vh;
}


div.project-2, div.project-3, div.project-4 {
    max-height: 0;
}

footer p {
    text-align: right;
}

.about-list{
    display: inline;
    font-size: 1rem;
    list-style-type: disc;
}

@media only screen and (max-width: 1200px){
    .project {
        flex-flow: column;
        height: 600px; 
        align-items: center;
        
    }
   
    .project-description {
        
         height: auto; 
        // outline: 1px solid red;  
        align-self: start;
        margin-left: 1.5rem;
            
        
       }

    
}